.hip-wrapper {
    background-color: #4B0015;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FDF6F0;
    position: relative;
}

.title {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
}

.title h1 {
    font-size: 45px;
    font-weight: normal;
}

.section1, .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1100px;
    margin-bottom: 100px;
}

.firstpic, .secondpic {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-right: 60px;
    border: 2px solid #FDF6F0;
}

.section1 a, .section2 a {
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

.section1 a:hover, .section2 a:hover {
    text-decoration: underline;
    color: #F1C40F;
}

ul {
    padding-left: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
}
