.attendance-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.attendance-title {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:20px;
}

.student-card{
    background-color:#fff;
    border-radius:10px;
    box-shadow: 0 4px 8px #8fdf93;
    overflow:hidden;
    width:250px;
    transition:transform 0.3s ease;
}

.student-card:hover {       /*student-card에 마우스 올려두면 Y축 -(위) 방향으로 5px만큼 이동*/
    transform: translateY(-5px);
    background-image: url('./img/르클레르.png');
    background-size: cover;
    background-position: center;
}


/* hover 시 기존 내용 숨기기 */
.student-card:hover .student-info,
.student-card:hover .student-avatar {
    opacity: 0;   /* 요소 사라짐 */
    pointer-events: none; /* 클릭 등 방지 */
}

.student-avatar {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.student-info {
    padding: 15px;
}

.student-info h3{
    margin:0;
    color: #e1d9a2;
    font-size:1.2em;
}

.student-info p{
    margin:5px 0 0;
    color: #dcc4ae;
    font-size:0.9em;        /*em은 배수 단위*/
} /**/